body{
	margin: 0;
	padding: 0;
	background-color: black;
}
.list-group-item{
	border: 0;
}
#home{
	background-color: black;
	height: 100vh;
}
#about, #skills, #portfolio, #contact{
	height: 100vh;
	background-color: white;
}
