body{
	margin: 0;
	padding: 0;
	background-color: black;
}
.list-group-item{
	border: 0;
	background-color: black;
}
#home{
	background-color: black;
	height: 100vh;
}
#about, #skills, #portfolio, #contact{
	height: 100vh;
	background-color: white;
}
footer{
	color: white;
	background-color: black;
}
h1, h2, h4{
	font-family: 'Cabin Sketch', cursive;
}
h2{
	margin-top: 100px;
}
h4{
	color: black;
}
.slidebox{
	background-color: lavender;
	width: 120px;
	height: 20px;
	border-radius: 20px;
	margin-top: 5px;
}
.slide{
	width: 120px;
	height: 20px;
	background-color: gray; /* For browsers that do not support gradients */
  	background-image: linear-gradient(to right, orange , yellow, green);
	border-radius: 20px;
	margin-top: 15px;
	position: relative
}
.starrate{
	mask-image: url("/../media/star-fill.svg");
	mask-repeat: no-repeat;
}
address{
	background-color: lavender;
	padding: 10px;
	border-radius: 20px;
}
